
html{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
   
    
}
body{
    background-color: #5f9ea0;

}
#load-hide{
  display: none;
}
#preloader{
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: whitesmoke;
}
#preloader li{
 border-radius: 4px;
  display:inline-block;
  width: 12px;
  height: 49px;
  margin: 0 1px;
  background-color: rgb(247, 6, 155);
  animation: popping .7s infinite alternate;
}

@keyframes popping {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scaley(2.1);
  }
}
#preloader li:nth-child(1){
  animation-delay: .1s;
}
#preloader li:nth-child(2){
  animation-delay: .2s;
}
#preloader li:nth-child(3){
  animation-delay: .3s;
}
#preloader li:nth-child(4){
  animation-delay: .4s;
}

#title{
  background-color: #2b3035

}
#About{
  text-align: center;
}
.coll{
  font-family: 'Josefin Sans', sans-serif;
}

.row{
    text-align: center;
  
}
#link{
  text-decoration: none;
  color: azure;
  
}


#track1{
    margin: 0 10px;
    display: inline-block;
    font-size: medium;
    text-align: center;
    background:linear-gradient(to right,#ec008c,#fc6767); 
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.15)1.96px 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 1em;
    font-family: 'Josefin Sans', sans-serif;

    
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
#track2{
    margin: 0 10px;
    display: inline-block;
    font-size: medium;
    text-align: center;
     background:linear-gradient(to right,#ec008c,#fc6767); 
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.15)1.96px 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 1em;
    font-family: 'Josefin Sans', sans-serif;
}


.table1{
    border: 1px;
    border-color: black;
   border-width: 0.2em;
   border-style: solid;
   width: 50%;
   padding: 0.7em;
    
}
td, th, tr{
    border-width: 0.2em;
    border-style: solid;
    border-color: black;
}

.call{
text-align: center;
font-family: 'Marcellus SC', serif;
}
.container{
    
    border-left: 0.2em solid rosybrown;
}
.chief{
    width: 20%;
    height: 30%;
}

#guest1{
    margin: auto;
    text-align: center;
}
.guest1img{
    margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
  padding-top: 5em;
}



.guest1img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

 .guest1img:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}







#location{
  margin: auto;
  text-align: center;
}
.map{
  margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}



#Guidelines{
    color: black;
    background-color: #5f9ea0;
    margin: 0 20px;
    border-radius: 1em;

}

.logo{
    width: 25%;
    margin: 20px;;

}

#committee{
    text-align: center;
}



