
html{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
   
    
}
body{
    background-color: #5f9ea0;

}
#load-hide{
  display: none;
}

#preloader{
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: whitesmoke;
}
#preloader li{
 border-radius: 4px;
  display:inline-block;
  width: 12px;
  height: 49px;
  margin: 0 1px;
  background-color: rgb(247, 6, 155);
  animation: popping .7s infinite alternate;
}

@keyframes popping {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scaley(2.1);
  }
}
#preloader li:nth-child(1){
  animation-delay: .1s;
}
#preloader li:nth-child(2){
  animation-delay: .2s;
}
#preloader li:nth-child(3){
  animation-delay: .3s;
}
#preloader li:nth-child(4){
  animation-delay: .4s;
}

#title{
  background-color: white;
  color:rgb(6, 11, 77);
  font-weight: bolder;
}
.navbar-toggler-icon{
  background-color:#ec008c;

}
#navbarTogglerDemo01 li{
  padding:0 10px;

}
#navbarTogglerDemo01{
  background:linear-gradient(to right,#ec008c,#fc6767); 

}
#link{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  
}
#About{
  text-align: justify;
  margin: 0 10%;
}
#About p{
  font-weight: 500;
  font-size: large;
}
#head{
  text-align: center;
}
.call h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;

  }
  .call h5{
    text-align: center;
  font-weight: bold;
  }
#call{
  text-align: center;
  font-weight: bold;
}
#track1{
    display: inline-block;
    font-size: large;
    color: white;
    font-weight: bold;
    text-align: center;
    background:linear-gradient(to right,#ec008c,#fc6767); 
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.15)1.96px 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 1em;
  }
#track1 h4{
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
#track2{
  text-align: center;
    display: inline-block;
    font-size: large;
    color: white;
    font-weight: bold;
     background:linear-gradient(to right,#ec008c,#fc6767); 
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    box-shadow: rgba(0,0,0,0.15)1.96px 1.95px 1.95px 2.6px;
    padding: 10px;
    border-radius: 1em;
}

#track2 h4{
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
}
#Guidelines{
  text-align: justify;
}
#Guidelines h2{
  padding-bottom: 2%;
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;

}
#Guidelines .row{
  text-align: justify;
  margin: 0 15%;
}
.guide{
  font-size: large;
}
.row p{
  font-size:large;
  font-weight: 500;
}
.guiderules{
  margin-left: 6%;
  font-weight: 500;
  font-size: 105%;
}
.table1{
    border: 1px;
    border-color: black;
   border-width: 0.2em;
   border-style: solid;
   width: 50%;
   padding: 0.7em;
    
}
td, th, tr{
    border-width: 0.2em;
    border-style: solid;
    border-color: black;
}
.container{
    
    border-left: 0.2em solid rosybrown;
}
.chief{
    width: 20%;
    height: 30%;
}

#guest1{
    text-align: center;
}
#guest1 h2{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;

}
.guest1img{
    margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}
.guest1img p{
  text-align: center;
  font-weight: 500;
}

#guest1 h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;

}
.guest1img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

 .guest1img:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#partners h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
}
#location{
  margin: auto;
  text-align: center;
}
.map{
  margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}
.logo{
    width: 25%;
    margin: 20px;
    padding-right:2%;
  }

#committee{
    text-align: center;
}
#committee h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
}
#committee p {
  font-weight: 500;
}
#committee p strong{
  font-size: large;

}
footer{
  padding: 2% 0 0 0;
  background-color: rgb(46, 43, 43);
  color: white;
}
footer address{
  font-size: 105%;
}
footer p{
  margin: 2% 0 0 0;
  text-align: center;
}

