html{
    margin: 0px;
    padding: 0px;
    max-width: 100%; 
}
body{
  background-color: #e7e9f0;

}
#load-hide{
  display: none;
}
#btn-back-to-top {
  border-radius: 50%;
  background-color:#041136;
  color: #e7e9f0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: larger;
  display: none;
  outline: none;
}

#preloader{
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: whitesmoke;
}
#preloader li{
 border-radius: 4px;
  display:inline-block;
  width: 12px;
  height: 49px;
  margin: 0 1px;
  background-color: #051747;
  animation: popping .7s infinite alternate;
}

@keyframes popping {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1);
  }
  100%{
    transform: scaley(2.1);
  }
}
#preloader li:nth-child(1){
  animation-delay: .1s;
}
#preloader li:nth-child(2){
  animation-delay: .2s;
}
#preloader li:nth-child(3){
  animation-delay: .3s;
}
#preloader li:nth-child(4){
  animation-delay: .4s;
}
.saveethalogo{
  width: 520px;
  height: 80px;
}
.seclogo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.seclogo h5{
  font-weight: bold;
  text-align: justify;
}
#title ul li .active{
background-color: red;
}

#title ul li:nth-child(1):hover,li:nth-child(2):hover,li:nth-child(4):hover,li:nth-child(5):hover,li:nth-child(7):hover,li:nth-child(8):hover,li:nth-child(9):hover{
  background-color: red;
  transition: all 0.1s ease;
}
a #navbarDropdown .nav-link .dropdown-toggle{
  font-weight: bold;
}
#navbarTogglerDemo01 ul .dropdown-menu{
  background:#051747; 
 
  color: white;
}
#navbarTogglerDemo01 .dropdown-menu li a{
  color: white;
font-weight: bold
}
#navbarTogglerDemo01 .dropdown-menu li a:hover{
  background-color:red

}
#title{
  background-color: #e7e9f0;
  color:#051747;
  font-family: 'Marcellus SC', serif;

  font-weight: bolder;
}
.coll h3{
  font-weight: bolder;

}
.navbar-toggler-icon{
  border-radius: 3px;
  background-color:#041136;

}

#navbarTogglerDemo01 li{
  padding:0 10px;
}

#navbarTogglerDemo01 {
  background:linear-gradient(to right,#ADD8E6,#051747); 

}
#title h5{
  font-weight: bold;
}
#link{
  text-transform: uppercase;
  color: white;
  
}
#About{
  margin: 0 10%;
}
#About h4{
  text-align: center;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;
  color: #051747;
}
#About .abtObj{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: large;
 list-style-position: inside;
 font-style: italic;
 display: flex;
 align-items: center;
 justify-content: center;
}
.abtObj li:hover{
  background-color: unset;
 }
#About p{
  text-align: justify;
  font-weight: 500;
  font-size: large;
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#head{
  text-align: center;

}
.call h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;
  color: #051747;

  }
  .call h6{
    text-align: center;
  font-weight: medium;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-style: italic;
  font-size: large;

  }
#call{
  text-align: center;
  margin: 0 10%;
  font-size: large;
  color: red;
}
.tracks{
  margin: 0;
}
#track1 tr{
  font-size: large;
}
#track2 tr{
  font-size: large;
}
#track1 #track2 tr{
  
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#track1 table{
  box-sizing: border-box;
  border-radius: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2.5em;
  width: 100%;
  background-color: #051747;
}
#track1 tr:nth-child(even) {
  background-color: #535F80;
}
#track1{
    display: inline-block;
    color: white;
    text-align: center;
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin:0 0 0 10%;
    padding: 10px;
    
  }
  

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
#track2 table{
  box-sizing: border-box;
  border-radius: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 2.5em;
  background-color: #051747;
}
#track2 tr:nth-child(even) {
  background-color: #535F80;
}
#track2{
  text-align: center;
    display: inline-block;
    color: white;
    /* background-color: #FE828C; */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 0 10% 0 4%;
  }

#track2 h4{
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
}
#Guidelines{
  text-align: justify;
  
}
#Guidelines h2{
  text-align: center;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;
  color: #051747

}
.guiderules li:hover{
 background-color: unset;
}
#Guidelines .row{
  text-align: justify;
  margin: 0 10%;
}
.guide{
  font-size: large;
  color: #051747;
}
.row p{
  font-size:large;
  font-weight: 500;
}
.guiderules{
  margin-left: 6%;
  font-weight: 500;
  font-size: 105%;
}
.dates table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.dates h3{
  text-align: center;

  font-weight: bold;
  font-family: 'Marcellus SC', serif;
  color: #051747
}
.table1 .table2{
  font-style: italic;
  font-size: large;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: whitesmoke;
}
.table1{
  color: whitesmoke;
  line-height: 2em;
  box-sizing: border-box;
  border-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background-color: #051747;
}
.table2{
  color: whitesmoke;
  line-height: 2em;
  box-sizing: border-box;
  border-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #051747;
  background-color: #051747;

}
.table1{
  text-align: center;
   width: 50%;
   padding: 0.7em;
    
}
.table1 td{
  padding: 1% 0 1% 0;
}
.table2{
  text-align: center;
   width: 50%;
   padding: 0.7em;
}
.table2 td{
  padding: 1.5% 0 1.5% 0;
}
.table1 tr:nth-child(even) {
  background-color: #535F80;
}
.table2 tr:nth-child(even) {
  background-color: #535F80;
}
.payment table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.paytable{
  font-size: large;
}
#journals h2{
  text-align: center;
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: #051747;

}
#journals{
  margin: 0 10%;

}
#journals p{
  font-size: large;
  font-weight: bold;
  color: #051747;
}
#journals ul{
list-style-position: inside;
font-size: large;
font-weight: 500;
margin-left: 3%;
}
#journals li:hover{
  background-color: unset;
 }
.container{
    margin: 0 15%;
    text-align: justify;
}
.container h5{
  color: #051747;

}
.container p{
  font-weight: 500;
  font-size: large;
}
.chief{
    width: 20%;
    height: 30%;

    color: #051747;

}

#guest1{
    text-align: center;
}
#guest1 h2{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: #051747;

}
.guest1img{
    margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}
.guest1img p{
  text-align: center;
  font-weight: 500;
}

#guest1 h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: #051747;


}
.guest1img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

 .guest1img:hover img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

#partners h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: #051747;

}
#location{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.map{
  margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}

.logo{
  width: 25%;
  margin: 20px;
  padding-right:0.5%;
}
#committee{
  margin-left: auto;
  margin-right: auto;
    text-align: center;
}
#committee h3{
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  color: #051747;

}
.cen{
 margin: 0 0 0 26%;
}
.cent{
  margin: 0 0 0 30%;
 }
#committee p {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-weight: 500;
}
#committee p strong{
  font-size: large;

}
#workshop{
  text-align: center;
}
#workshop h3{
font-family: 'Marcellus SC', serif;
font-weight: bold;
}
#workshop table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
}


footer{
  padding: 2% 0 0 0;
  background-color: rgb(46, 43, 43);
  color: white;
}
footer address{
  font-size: 105%;
}
footer p{
  margin: 2% 0 0 0;
  text-align: center;
}
.bi-telephone{
  font-size: 150%;
}
.bi-envelope{
  font-size: 150%;
}
.phone{
  font-size: 170%;
  text-decoration: none;
  text-align: center;
  font-size: 105%;
  color: whitesmoke;
  pointer-events: none;
}
.bi{
  vertical-align: middle;

}
.map iframe{
  width: 100;
  height: 100;
}
@media screen and (min-width: 411px) and (max-width: 430px){
  .archana{
padding-right: 5%;
    }
}

@media screen and (max-width: 576px) {
  .cen{
    margin: 0 2.5% 0 2.5%;
   }
   .cent{
     margin: 0 2.5% 0 2.5%;
    }
  .saveethalogo{
    width: 355px;
    height: 80px;
    object-fit: contain;
  }
  .navbar-nav{
    background-color:black;
  }
  #title h5{
    font-weight: bold;
  }
  .paytable{
    font-size:medium ;
  }
  #track1 tr{
    font-size: medium;
  }
  #track2 tr{
    font-size: medium;
  }
  #track1{
    margin: 0 1% 0 1%;
  }
  #track2{
    margin: 0 2% 0 2%;

  }
  #workshop table{
    font-size: medium;
    width: 90%;

  }
 #location .map{
  display: inline-block;
  justify-content:center ;
  align-items: center;
  text-align: center;
 }

.table1 {
  width: 95%;
}
.seclogo a img{
  width: 80px;
  height: 80px;
}
.seclogo h5{
  font-size: 115%;
}
.coll h3{
  font-size: 130%;
}


}
@media screen and (max-width: 768px) {
  
  #track1 tr{
    font-size: medium;
  }
  #track2 tr{
    font-size: medium;
  }
  #track1{
    margin: 0 1% 0 1%;
  }
  #track2{
    margin: 0 2% 0 2%;

  }
  .cen{
    margin: 0 2.5% 0 2.5%;
   }
   .cent{
     margin: 0 2.5% 0 2.5%;
    }
  .saveethalogo{
    width: 355px;
    height: 80px;
    object-fit: contain;
  }
  .navbar-nav{
    background-color:black;
  }
  .map{
    padding-bottom: 4%;
  }
#location .map{    display: inline-block;
    justify-content:center ;
    align-items: center;
   }
   #workshop table{
    font-size: medium;
    width: 90%;
  }

.table1 {
  width: 95%;
}
}


